section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
}

img{
    width: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 0px;
    transition: 0.5s;
}

img:hover{
        width: 210px;
        border-radius: 5px;
      
   
}

hr{
    width: 100%;
}

h2{
    color: orangered;
    background-color: white;
    width: 80%;
    border-radius: 5px;
    padding: 10px 0px;
}

li{
  margin: 20px; 
  font-size: 1rem; 
}