
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="header-img">
  <img src="https://cdn.metro-online.com/-/media/Project/MCW/ES_Makro/Info-y-servicios/productos/vinos/cabecera-vinos.jpg?h=464&iar=0&w=1392&rev=b4e9787c89a942d7b8c483f5018c59f2&hash=154A8BFCE72A9E6731E9C5D2AF3D28FC" alt="">

</div>
<nav class="nav-menu">

  <a routerLink="/margarita"> Margarita</a>
  <a routerLink="/tequila">Tequila</a>
  <a routerLink="/vodka">Vodka </a>
  <a routerLink="/wineService">Vino</a>
</nav>

<div class="contenedor-flex">
  <router-outlet></router-outlet>
  </div>

  
<footer>
  <div class="footer-contenedor">
      <div class="socialIcons">
          <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://x.com/login?mx=2"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.youtube.com/@cmtorrealba"><i class="fa-brands fa-youtube"></i></a>
      </div>


      <div class="contenedor-footer-nav">
          <ul>
              <li><a href="">Inicio</a></li>
              <li><a href="">acerca de</a></li>
              <li><a href="">promociones</a></li>
              <li><a href="">servicio al cliente</a></li>
              <li><a href="">contactanos</a></li>
          </ul>
      </div>

  </div>
 
</footer>

  