/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(68, 3, 3);
    color: white;
    margin: 0;
}

